body {
    background-color: #232434;
}

/* Text shit */

font {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: white;
    opacity: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    
}

text {
  color: white;
  opacity: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
h1 {
    color: white;
    opacity: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

/* animations */

@keyframes textanimation {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* Navigation bar */

.navbar {
    height: 60px;
    width: 1205px;
    border-radius: 10px;
    background: #4e5079;
    box-shadow:  8px 8px 11px #161621;
    animation: textanimation 1s;
    list-style:none

}




/* */
.dropbtn {
    position: relative;
    bottom: 149px;
    height: 60px;
    background: #4e5079;
    box-shadow:  8px 8px 11px #161621;
    
    list-style:none;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
  
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    position: relative;
    bottom: 145px;
    display: none;
    background: 4e5079;
    box-shadow:  10px 10px 49px #9098c7,
             -10px -10px 49px #e0eeff;
    min-width: 100px;

    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 0.7px 4px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: #b8c3ff;
    border-radius: 5px;
    box-shadow: inset 5px 5px 9px #9ea8db,
                inset -5px -5px 9px #d2deff;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background: #b8c3ff;
    box-shadow: inset 5px 5px 9px #9ea8db,
                inset -5px -5px 9px #d2deff;
  }
