@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Raleway:wght@100;200;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    color: #ffff;
}

iframe {
    width: 100%;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}



.words {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    overflow: hidden;
}


span-words {
    position: relative;
    animation: hellowords 7s ease infinite;
    height: 100%;

}

@media (max-width: 316px) {
    .words {
        font-size: 35px;
    }
}


@keyframes hellowords {
    0%,
    100%{top: 0;}
    20%{top: 0;}
    25%{top: -50px;}
    35%{top: -50px;}
    45%{top: -100px;}
    60%{top: -100px;}
    65%{top: -150px;}
    85%{top: -150px;}
    90%{top: -200px}
    95%{top: -200px}
}


.container {
    position: relative;
    width: 100%;
    display: flex;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}


.container section {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#729ef9, #f6b59f, #61cd5e); 
    background-size: 500% 500%;
    animation: colourAnimation 30s ease infinite;
    
}




.container section:nth-child(2) {
    background: linear-gradient(#729ef9, #f6b59f, #61cd5e);
    background-size: 500% 500%;
    animation: colourAnimation 30s ease infinite;
}
.container section:nth-child(3) {
    background: linear-gradient(#729ef9, #f6b59f, #61cd5e);
    background-size: 500% 500%;
    animation: colourAnimation 30s ease infinite;
}
.container section:nth-child(4) {
    background: linear-gradient(#729ef9, #f6b59f, #61cd5e);
    background-size: 500% 500%;
    animation: colourAnimation 30s ease infinite;
}

@keyframes colourAnimation {
    /*from{background-position: 100% 0%}
    to{background-position: 0% 100%;} */
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


.container section .content {
    max-width: 800px;
    padding: 40px;
    text-align: center;
}


.container section .content h2 {
    font-size: 4em;
}

.container section .content p {
    font-size: 1.3em;
}


.languages-interests {
    float: left;
    width: 300px;
    height: 180px;
    border-radius: 25px;
    margin-left: 35px;
    margin-top: 10px;
    padding: 5px;
    border: 5px solid rgba(255, 255, 255, 0.151);
}



.allprojects {
    float: left;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
    border: 5px solid rgba(255, 255, 255, 0.151);
}





