@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Raleway:wght@100;200;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    background: rgb(20, 20, 20);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

.words {
    align-items: center;
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 43px;
    overflow: hidden;
}


span-words {
    position: relative;
    animation: hellowords 7s ease infinite;
    height: 100%;
}


@keyframes hellowords {
    0%,
    100%{top: 0;}
    20%{top: 0;}
    25%{top: -50px;}
    35%{top: -50px;}
    45%{top: -100px;}
    60%{top: -100px;}
    65%{top: -150px;}
    85%{top: -150px;}
    90%{top: -200px}
    95%{top: -200px}
}

body {
    animation: openingAnimation 0.5s ease;
}

@keyframes openingAnimation {
        0% {
          transform: translateY(-1000px);
        }
        100% {
          transform: translateX(0);
        }
}


section{
    padding: 15px;
    font-size: larger;
    text-align: center;
}

.card, .cardA, .cardS, .cardT {
    height: 385px;
    width: 420px;
    background-color: rgba(23, 23, 23, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease; 
    -o-transition: all 0.4s ease; 
    -ms-transition: all 0.4s ease; 
    transition: all 0.4s ease; 
}


.cardP {
    height: 445px;
    width: 1280px;
    background-color: rgb(23, 23, 23);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease; 
    -o-transition: all 0.4s ease; 
    -ms-transition: all 0.4s ease; 
    transition: all 0.4s ease; 
}


h1, p {
    padding-top: 10px;
    color: rgb(240, 240, 240);
    background-color: transparent;
    font-weight: 400;
    margin: 0px;
  }

  img {
    background-color: transparent;
  }

  a {
    background-color: transparent;
  }


#cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 28px;
    gap: 10px; 
    width: calc(100% - 20px); 
}

.cardA:hover {
    transform: scale(1.01);
    border: 1px solid rgb(142, 142, 250); 
}

.cardP:hover {
    transform: scale(1.01);
    border: 1px solid rgb(203, 255, 136); 
}

.cardS:hover {
    transform: scale(1.01);
    border: 1px solid rgb(241, 243, 107);
}

.cardT:hover {
    transform: scale(1.01);
    border: 1px solid rgb(255, 80, 80);
}

.BoxBot:hover {
    transform: scale(1.01);
    border: 1px solid rgb(179, 255, 80);
}

.BoxWeb:hover {
    transform: scale(1.01);
    border: 1px solid rgb(80, 150, 255);
}

.BoxYt:hover {
    transform: scale(1.01);
    border: 1px solid rgb(255, 80, 80);
}

.BoxJava:hover {
    transform: scale(1.01);
    border: 1px solid rgb(255, 238, 80);
}

.BoxWeb, .BoxYt, .BoxJava, .BoxBot {
    height: 300px;
    width: 350px;
    background-color: rgba(23, 23, 23, 0.5);
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    position: relative;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease; 
    -o-transition: all 0.4s ease; 
    -ms-transition: all 0.4s ease; 
    transition: all 0.4s ease; 
}

.container {
    background-color: transparent;
}



